---
layout: default
title: Daily
---

<div class="home" id="home">
    <h1 class="pageTitle">Daily</h1>
    <ul class="posts noList">
      {% for daily in paginator.dailys %}
        <li>
          <span class="date">{{ daily.date | date: '%B %d, %Y' }}</span>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ daily.title }}</a></h3>
          <p>{% if daily.description %}{{ daily.description }}{% else %}{{ daily.excerpt | strip_html }}{% endif %}</p>
        </li>
      {% endfor %}
    </ul>
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
      {% endif %}
    </div>
  </div>